.box{
    width:100px;
    height:100px;
    overflow:hidden;
}
.box1{
    background-color:#000
}
.box2{
    background-color:#f00
}
.box3{
    background-color:#0f0
}
.box4{
    background-color:#00f
}
.frame{
    width:200px;
    height:200px;
}
.frame1{
    background-color:#000
}
.frame2{
    background-color:#f00
}
.frame3{
    background-color:#00f
}
.frame4{
    background-color:#0f4
}
a{
    padding:20px;
    margin:40px;
}