#boss{
    width: 500px;
    margin: 0 auto;
}
#father{
    background:#078;
    width: 400px;
    height:200px;
    margin:20px auto; 
}
.son1{
     width: 150px;
     height: 150px;
     margin: 25px;
     float: left;
     background-image:url("./image1.jpg");
}
.son2{
     width: 150px;
     height: 150px;
     margin-top:30px; 
     float: left;
}
.clear{
    clear: both;
}
.box{
    margin-top: 10px;
}
input{
     width: 80px;
     background:rgba(231,0,0,0);
     border: 0px;
     height: 25px;
}
#mother{
    margin: 10px auto;
    height: 45px;
    width: 400px;
}
.icon{
    margin-left:30px;
}
.icon1{
    width: 45px;
    height:45px;
    background-image: url("./image.jpg");
    background-position: -138px 560px;
    float:left;
}
.icon2{
    width: 45px;
    height:45px;
    background-image: url("./image.jpg");
    background-position: -30px 290px;
    float: left;
}
.icon3{
    width: 45px;
    height:45px;
    background-image: url("./image.jpg");
    background-position: 74px 613px;
    float: left;
}
.icon4{
    width: 45px;
    height:45px;
    background-image: url("./image.jpg");
    background-position:128px 611px;
    float: left;
}
.icon5{
    width: 45px;
    height:45px;
    background-image: url("./image.jpg");
    background-position: 74px 1207px;
    float: left;
}
.icon5:hover{
    background-image:url("./image.jpg");
    background-position: 398px 1151px;

}