body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 12px;
    background: #eeede9;
}
#headerfather{
    background: #fff;
}
#header{
    width: 1006px;
    height: 41px;
    margin: 0 auto;
    text-align: center;
    font-family: 微软雅黑;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    background: #fff;
}
#login{
    width: 270px;
    height: 41px;
    float: left;
    padding-left: 15px;
    margin: 0px;

}
#login li{  
    float: left;
    list-style: none; 
    line-height: 41px;  
    padding-right:10px; 
}
a{   
    text-decoration: none;
    color: #000;
}
.zhuce a{
    color: #f00;
}
.clear{
    clear: both;
}
#myip{
    height: 41px;
    float: right;
    margin: 0px;
}
#myip li{
    list-style: none;
    line-height: 41px;
    float: left;
    padding-left:10px;
}
.space{
    color:#ccc;
}
#cotton{
    width: 100%;
    height:1px;
    background: #dedcdc;
}
#logo{
    width: 1006px;
    height: 104px;
    margin: 0 auto;
    text-align: center;
    font-family: 微软雅黑;
    font-size: 12px; 
    line-height: 104px;
}
.logo1 a{
    float: left;
    line-height: 104px;
}
.logo1 a img{
    vertical-align: middle;
}
.search1{
    width: 491px;
    height: 40px;
    border: 1px solid #f87622;
    float: left;
    margin: 27px 0 0 107px;
    padding: 0px;
}
.search1 li{
    list-style: none;
    float: left;
    line-height: 40px;

}
.taobao{
    width: 56px;
    height: 40px;
    background: #f4f7ee;
    color: #848484;
}
.kuang{
    width: 310px;
    height: 37px;
    border: 0px;
}
.gouwu{
    width: 125px;
    height:40px;
    background:#f87622; 
}
.gouwu a{
    color: #fffedb;
    font-size: 18px;
    font-weight: bold;
}
#iptu a{
    float: right;
    width: 137px;
    margin: auto 0px;
}
#iptu a img{
    vertical-align: middle;
}
#biaotilan{
    width: 100%;
    height: 40px;
    background: #ff6600;

}
.liebiao{
    width: 1005px;
    margin: 0 auto;
    background: #ff6600;
    padding: 0px;
}
#biaotilan ul li{    
    float: left;
    list-style: none;
}
#biaotilan ul li a{
    color: #fcf5ff;
    padding:12px 15px;
    line-height: 40px;
}
.shouye{
    background: #da4501;
}
#biaotilan ul li a:hover{
    background: #da4501;
}
.liebiao1{
    float: right;    
}
#firsttu{
    width: 1005px;
    height: 320px;
    margin: 20px auto;
    padding: 0px;
}
.shishang{
    float: left;
}
.cup{
    float: left;
    width: 260px;
    height: 320px;   
}
.baoyou{
    width:260px;
    height:160px;
    background: #f9f9f9;
}
.baoyou99{
    width: 115px;
    margin:50px 0 0 15px;
    text-align: center;
    height: 70px;
    float: left;
}
.baoyou1{
    color: #da4501;
    font-size: 25px;
    text-align: center;
    margin: 0;
    height: 40px;
    width: 115px;
}
.cotton{
    height: 1px;
    background:#c9c9c9;
    width: 115px;
    margin: 3px 0;
}
.tody{
    font-size:12px;
    margin: 0;
    color: #000;
    text-align: center;
}
.tody img{
    vertical-align: middle;
}
.cupimg{
    float:right;
    margin: 30px 15px 0 0;
}
.pinpai{
    width:260px;
    height:160px;
    background: #fefefe;
}
.temai{
    float: left;
    width: 115px;
    height: 66px;
    text-align: center;
    margin: 50px 0 0 15px;
}
.temai1{
    font-size: 25px;
    color: #f36f1d;
    font-weight: bold;
}
.temai.cotton{
    height: 1px;
    background:#c9c9c9;
    width: 115px;
    margin: 5px;
}
.temaiimg{
    float:right;
    margin: 4px 5px 0 0;
}
.signup{
    float:right;
    width: 150px;
    height: 320px;
    text-align: center;
    background: #fafafa;
}
.signup ul{
    padding: 0px;
    margin: 26px 0 0 16px; 
}
.signup li{
    list-style: none;
    width: 110px;
    height: 36px;
    line-height: 36px;
}
.liji{
    background: #ff6600;
}
.liji a{
    color: #ffe9da;
    font-size: 16px;
}
.botton{
    height: 1px;
    width: 100%;
    background: #dbdbdb;
}
.fuli{
    width: 150px;
    height: 208px;
}
.fuli a img{
    width: 125px;
    height: 40spx;
    margin: 15px auto;
}
#top{
    width: 1005px;
    background: #fff;
    margin: 20px auto;
    height: 240px;
}
.wumentop{
    float: left;
    width: 172px;
    height: 207px;
    padding: 20px 0 0 20px;
}
.wumentop img{
    width: 172px;
    height: 173px;
}
.money{
    margin-left: 20px;
    line-height: 36px;
}
.yuan{
    font-size: 8px;
    color: #ee455a;
}
.unit{
    font-size:16px;
    color: #ee455a;
}
.tiny{
    font-size: 11px;
    color: #ee455a;
}
.discount{
    font-size: 12px;
    color: #a6a1a5;
    margin-left: 25px;
}
#saletoday{
    width: 1005px;
    height: 45px;
    margin: 0 auto;
}
.sale{
    font-size: 30px;
    color: #000;
}
.sale1{
    font-size: 30px;
    color: #d5d4d0;
}
.timeimg{
    width: 22px;
    height: 22px;
}
.time{
    font-size: 13px;
    color: #787973;
}
.saynav{
    width: 1005px;
    height: auto;
    margin: 0 auto;
    background: #fff;
}
.saynav ul{
    width: 1005px;
    height: 35px;
    margin: 0px;
}
.saynav ul li{
    list-style: none;
    float: left;
    line-height: 35px;
}
.saynav ul li a{
    padding-left:40px;
    line-height: 35px;
}
.red{
    color: #d67d43;
}
.saynav ul li a:hover{
    color: #d67d43;/*不知道怎么搞下面的那个覆盖隐藏*/
}
.xian{
    width: 990px;
    height: 4px;
    margin: 0 auto;
    background: #ebebeb;
}
.weretu{
    width: 1005px;
    height: auto;
    background: #fff;

}
.weretu a{
    float: left;
    width: 235px;
    background: #fff;
    padding: 33px 0 0 16px;
}
.meitu.meitu1{
    margin-left: 1px;
}
.meitu img{
    margin: 0 auto;
}
.jiage{
    width: 225px;
    height: 45px;
    padding: 17px 0;
}
.jiaqian{
    margin: 0 auto;
    color: #f03f6b;
    line-height: 30px;
    float: left;
    font-weight: bold;
}
.yuan1{
    font-size: 13px;
}
.unit1{
    font-size: 26px;
}
.tiny1{
    font-size: 16px;
}
.qingchu{
    float: left;
}
.jiao{
    display: inline-block;
    width: 50px;
    background: #fe7411;
    line-height: 17px;
    padding-left: 5px;
    color: #fff;
    font-size: 12px;
    border-radius: 15px;
    
}
.quchu{
    color: #979797;
    text-decoration: line-through;
    font-size: 9px;
    padding-left: 2px;
}
.discount1{
    font-size: 11px;
    color: #979797;
    line-height: 35px;
    padding-left: 7px;
}
.jiao1{
    background: #feffff;
    color: #979797;
    border: 1px solid #a6a1a5;
    width: 30px;
}
.box{
    width: 1005px;
    margin: 0 auto;
    height: 335px;
}
.weretu.gang{
    width: 990px;
    background:#f1f1f1;
    height: 1px;
    margin: 10px auto;
}
#footer{
    background: #fff;
    width: 100%;
    height: 225px;
}
.friendlylink{
    width: 955px;
    height: 40px;
    margin: 15px auto;
    border-bottom: 1px dotted #a6a1a5;
}
.friendlylink ul{
    width: 955px;
    height: 40px;
}
.friendlylink ul li{
    list-style: none;
    padding: 0 2px;
    line-height: 40px;
    float: left;
}
.rightli{
    float:right;/*这个为什么不能悬浮右*/
}
.friendlylink ul li a{
    color: #a6a1a5;    
}
.footshouye{
    width: 820px;
    height: auto;
    margin: 10px auto;
}
.footshouye ul{
    padding: 0;
}
.footshouye ul li{
    list-style: none;
    float: left;
    padding: 0 6px;
    color: #606060;
    
}
.footshouye ul li a{
    color: #606060;
    padding: 0px;
    font-size: 12px;
}
.foottu{
    width: 635px;
    margin: 5px auto;
}
.foottu a img{
    width: 115px;
    height: 43px;
    float: left;
    padding: 12px 5px;
}
.footp{
    width: 470px;
    margin: 5px auto;
    font-size: 12px;
    color: #919191;
}
.footfoot{
    width: 240px;
    margin: 5px auto;
}
.footfoot a img{
    width: 18px;
    height: 18px;
    float: left;
    padding: 2px;
}
.footfoot span{
    float: left;
    margin-top: 5px;
}