body{
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    font-family: "宋体";
    margin: 0px;
    font-size: 12px;
}
#header{
    background: #f5f5f5;
    width: 100%;
    height: 35px;
    margin: 0px;
}
.headerbox{
    width: 1190px;
    height: 35px;
    margin: 0 auto;

}
.zhuce{
    float: left;
    padding: 0px;
    margin: 0px;
}
#header ul li{
    list-style: none;
    float: left;
}
.boxa{
    text-decoration: none;
    line-height: 35px;
    padding: 0 10px;
    color: #676767;
}
.qin{
    color: #f00;
}
.mytb{
    float: right;
    margin: 0px;
}
.clear{
    clear: both;
}
.boxa.box1{
    border-left: 1px solid #e0e0e0;
}
#logo{
    width: 100%;
    height: 130px;
    background: #fff;
    margin: 0px;
    padding: 0px;
}
.logo.boxb{
    width: 1190px;
    margin: 0 auto;
}
.logo-img{
    padding: 39px 0 0 20px;
    float: left;
}
.search{
    width: 700px;
    height: 90px;
    float: left;
    margin: 30px 0 0 100px;
}
.search-top{
    height: 25px;
    line-height: 25px;
    width: 200px;
}
.search-ul{
    padding: 0px;
    margin: 0x;
    height: 25px;
}
.search-ul li{
    list-style: none;
    float: left;
}
.a{
    color: #f00;
    padding:7px 13px;
    text-decoration: none;
}
.a.baobei{
    color: #fff;
    font-weight: bold;
    background: #ff4200;
}
.a:hover{
    color: #fff;
    font-weight: bold;
    background: #ff4200;
}
.search-search{
    width: 625px;
    height: 34px;
    border: 3px solid #ff4200;
    float: left;
    line-height: 34px;
}
.search-search-img1{
    padding: 0 5px; 
}
.search-search-img2{
    padding-right:12px;
}
.input-text{
    width: 434px;
    outline: medium;
    border: 0;
    height: 31px;
    padding: 0px;
}
.input-submit{
    width: 120px;
    height: 34px;
    outline: medium;
    border: 0px;
    background: #ff4200;
    color: #fff;
    font-size: 17px;
    padding: 0px;

}
.search-gaoji{
    float: left;
    text-decoration: none;
    width: 38px;
    height: 40px;
    font-size: 13px;
    padding: 2px 7px;   
    line-height: 18px;
    color: #676767;
}
.search-bottom{
    width: 630px;
}
.search-bottom-a{
    color: #676767;
    padding-right: 3px;
    text-decoration: none;
}
.search-bottom-a.t{
    color: #ff4200;
}
.search-bottom-a.more{
    float: right;
}
.erweima{
    float: right;
    margin-top: 5px;
    border: 1px solid #f1f1f1;
    padding: 0 10px 13px 10px;
    text-align: center;
}
.erweima a{   
    color: #ff4200;
    text-decoration: none;
}
.erweima a span{
    line-height: 30px;
}
.erweima-img{
    width: 80px;
    height: 80px;
    background-image: url(images/tb22_03.png);
}
#zhuti{
    width: 100%;
    height: 35px;
    background: #fff;
    overflow: hidden;
}
#zhuti ul{
    padding: 0px;
    width: 1190px;
    margin: 0 auto;
}
#zhuti ul li{
    list-style: none;
    float: left;
    line-height: 30px;
}
.zhutishichang{
    background: #ff6537;
    width: 190px;
    height: 35px;
}
.zhutishichang-text{
    color: #fffdfb;
    font-size: 15px;
    font-weight: bold;
    padding: 0 90px 0 10px;
}
.a-red{
    color: #ff6537;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding-right:26px;
}
.a-black{
    color: #3a3a3a;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding-right:16px;
}
.a-red.tianmao{
    padding-left: 20px;
}
.a-black.tao{
    border-left: 1px solid #f1f1f1;
    padding-left: 13px;
}
.a-black.ali{
    border-left: 1px solid #f1f1f1;
    padding-left: 13px;
}
#bodyer-one{
    width: 1190px;
    margin: 0 auto;
}
.bodyer-one-left{
    float: left;
    width: 190px;
    position: relative;
}
.border-one-box-left{
    float: left;
}
.bodyer-one-left-ul{
    padding: 0px;
    width: 190px;
    margin: 0px;
    height: 480px;
    position: relative;
    left: 0px;
}
.topnav{
    width: 190px;
    line-height: 35px;
    background: #ff6537;
    list-style: none;
    height: 30px;
}
.topnav a{
    list-style: none;
    color: #fffdfb;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
}
.left-img{
    float: left;
    margin: 10px 5px 0px 10px;
}
.right-img{
    vertical-align: middle;
    margin:13px 13px 0 0;
    float: right;
}
.a-span{    
    width: 130px;
    float: left;
    overflow: hidden;
    height: 35px;
}

.left-img1{
    float: left;
    margin: 10px 5px 0px 10px;
    position: absolute;
    left: 0px;
}
.sanbox{
    width: 530px;
    height: 518px;
    border: 1px solid #606060;
    position: absolute;
    left: 190px;
    top: 0;
    background: #7866cc;
}
.topnav1{
    display: none;
}
.topnav:hover+.topnav1{
    display: block;
}
.bodyer-one-center{
    width: 700px;
    height: 525px;
    float: left;
}
.center-left{
    float: left;
    width: 520px;
    height: 510px;
    margin: 10px 10px 0px 10px;
}
.tianmao-biguang{
    width:520px;
    border-bottom: 2px solid #c12d21;
    height: 17px;
    margin-top: 8px;
}
.tianmao-gif{
    float: left;
    border-bottom: 2px solid #000;
    height: 16px;
}  
.tianmao-left{
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid #000;
    height: 17px;
}
.tianmao-center{
    font-size: 12px;
    color: #606060;
    display: inline-block;
    height: 17px;
}
.tianmao-right{
    color: #c12d21;
    display: inline-block;
    padding-left: 240px;
    height: 17px;
}
.nanzhuang a{
    width: 172px;
    height: 99px;
    display: block;
    float: left;
}
.nanzhuang a img{
    width: 173px;
    height: 99px;
    
}
.fenge1{
    border: 1px solid #ebebeb;
    border-top: 0px;
}
.fenge2{
    border: 1px solid #ebebeb;
    border-left: 0px;
    border-bottom: 0px;
}
.fenge3{
    border: 1px solid #ebebeb;
    border-right: 0px;
    border-bottom: 0px;
}
.center-right{
    margin-top: 10px;

}
.today{
    line-height: 30px;
    color: #a1a1a1;
}
.border-one-bottom{
    width: 890px;
    height: 78px;
    background: #fff;
}
.border-one-bottom div{
    float: left;
    width: 176px;
}
.border-one-bottom-a-img1{
    width: 65px;
    height:65px;
    border: 1px solid #a1a1a1;;  
    border-radius:50px;  
    float: left;  
    text-align: center;   
    margin: 6px 7px 0 15px;
}
.border-one-bottom-a-img1 img{
    padding-top: 5px;
}
.border-one-bottom a{
    text-decoration: none;
    display: block;
}
.meixiekong{
    font-size: 17px;
    color: #9c6c5e;
    font-weight: bold;
    padding-top: 10px;
    list-style: none;
}
.woweixiekuang{
    color: #9c6c5e;
    padding-top: 5px;
}
.renqi{
    color: #9a9a9a;
    vertical-align: middle;
    padding-top: 5px;
    line-height: 20px;
}
.border-one-bottom-a-img2{
    vertical-align: middle;
}
.youxi{
    font-size: 17px;
    color: #70bb83;
    font-weight: bold;
    padding-top: 10px;
    list-style: none;
}
.pk{
    color: #70bb83;
    padding-top: 5px;
}
.gaofushuai{
    font-size: 17px;
    color: #7b9dff;
    font-weight: bold;
    padding-top: 10px;
    list-style: none;
}
.nanshen{
    color: #7b9dff;
    padding-top: 5px;
}
.fugunvlang{
    font-size: 17px;
    color: #7866cc;
    font-weight: bold;
    padding-top: 10px;
    list-style: none;
}
.fuguyin{
    color: #7866cc;
    padding-top: 5px;
}
.shoubiaokong{
    font-size: 17px;
    color: #d24c64;
    font-weight: bold;
    padding-top: 10px;
    list-style: none;
}
.maibiao{
    color: #d24c64;
    padding-top: 5px;
}
.border-one-box-right{
    width: 290px;
    height: 593px;
    background: #fff;
    float: left;
    margin: 10px 0 0 10px;
}
.taojinbi{
    width: 290px;
    background-image: url(images/bg_01.jpg);
    height: 160px;
    border-bottom: 2px solid #f1f1f1;
}
.taojinbi-icon{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 15px 0px 0px 115px;
}
.hi{
    margin:0 0 5px 125px;
}
.taojinbi-text a{
    color: #f45d16;
    text-decoration: none;
    vertical-align: middle;
}
.taojinbi-text a img{
    vertical-align: middle;
    margin-left: 50px;
}
.box.denglu{
    width:90px;
    height: 25px;
    background: #ff4400;
    line-height: 25px;
    float: left;
    margin: 3px 0 0 17px;
    text-align: center;
}
.box.zhuce{
    width:75px;
    height: 25px;
    background: #ff4400;
    line-height: 25px;
    float: left;
    text-align: center;
    margin: 3px 10px 0 10px;
}
.box.kaidian{
    width:75px;
    height: 25px;
    background: #ff4400;
    line-height: 25px;
    float: left;
    text-align: center;
    margin-top: 3px;
}
.box a{
    text-decoration: none;
    font-size: 14px;
    color: #fffffa;
    font-weight: bold;
}
.gonggaolan{
    width: 290px;
    height: 106px;
    border-bottom: 2px solid #f1f1f1;
}
.gonggaolan-ul{
    margin: 0px;
    padding: 17px 0 0 15px;
}
.gonggaolan-ul li{
    list-style: none;
    float: left;
    margin: 0 7px;
}
.gonggao-li{
    margin-left: 3px;
}
.gonggaolan-ul li a{
    text-decoration: none;
    padding:5px 7px;
    color: #000;
    
}
.gonggao-li a{
    font-weight: bold;
}
.gonggaolan-ul li a:hover{
    border-bottom: 2px solid #ff4200;
    font-weight: bold;
}
.mayun{
    color: #ff4200;
    margin: 17px 0 0 20px;
    text-decoration:none;
    display: block;
}
.lianheguo{
    color: #000;
    padding: 15px 0 0 20px;
    text-decoration:none;
    display: inline-block;
}
.papi{
    color: #000;
    padding: 15px 0 0 20px;
    text-decoration:none;
    display: inline-block;
}
.fuwu{
    width: 290px;
    height: 194px;
    background: #fff;
    border-bottom: 2px solid #f1f1f1;
}
.chonghuafei{
    width: 72px;
    height: 64px;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    text-align: center;
    float: left;
}
.chonghuafei img{
    width: 22px;
    height: 24px;
    margin: 12px 0 4px 0;
}
.baoxian{
    width: 71px;
    height: 64px;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
    float: left;
}
.baoxian img{
    width: 22px;
    height: 24px;
    margin: 12px 0 4px 0;
}
.licai{
    width: 71px;
    height: 64px;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
    float: left;
}
.licai img{
    width: 22px;
    height: 24px;
    margin: 12px 0 4px 0;
}
.huochepiao{
    width: 71px;
    height: 64px;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
    float: left;
}
.huochepiao img{
    width: 22px;
    height: 24px;
    margin: 12px 0 4px 0;
}
.aliapp{
    margin: 12px 0 0 20px;
}
.ali-app{
    font-size: 14px;
    font-weight: bold;
}
.wear{
    padding-left: 170px;
}
.ali-icon{
    margin: 3px 0 0 4px;
}
.ali-icon a{
    text-decoration: none;
}
.ali-icon a img{
    width: 33px;
    height: 33px;
    padding: 4px 7px;
}
#main{
    width: 1190px;
    margin: 10px auto;
}
.content-left{
    width: 890px;
    height: 2710px;
    float: left;
}
.content-center{
    margin: 10px 0;
}
.content-img{
    width: 200px;
    height: 20px;
    vertical-align: middle;
    margin: 0 0 0 350px;
}
.content-more{
    display: inline-block;
    background: #fff;
    width: 60px;
    height: 22px;
    border-radius: 15px;
    text-align: center;
    line-height: 22px;
    margin-left: 272px;
}
.content-more:hover{
    color:#fff;
    background: #f00;
}
.container-1{
    width: 440px;
    height: 360px;
    border: 1px solid #ff3d7b;
    float: left;
    margin-bottom: 10px;
}
.container-1:hover{
    border: 2px solid #ff0454;
}
.container{
    width: 100px;
    height: 360px;
    float: left;
}
.container-a{
    width: 100px;
    height: 100px;
    display: block;
}
.container-a img{
    width: 100px;
    height: 100px;
}
.container-1-top{
    width:100px;
    height: 260px;
    background: #ff3d7d;
    color: #fff;
}
.hot-top{
    font-size: 15px;
    padding: 10px 0px 4px 6px;;
    font-weight: bold;
    display:inline-block;
}
.top-text{
    padding-left: 6px;
}
.container-1-top a{
    display: inline-block;
    padding: 3px 9px 2px 9px;
    background: #fd6397;
    margin: 2px 0 0 0;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}
.container-1-top a:hover{
    color: #f00;
    background: #fff;
}
.box-nr{
    float: left;
}
.chunxia{
    float: left;
    text-align: center;
}
.chunxia a{
    text-decoration: none;
    color: #000;
    width: 100px;
    height: 100px;
    border-right:1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    display: inline-block;
    background: #fff;
    float: left;
}
.chunxia a img{
    width: 67px;
    height: 60px;
    padding-top: 10px;

}
.in{
    width: 100px;
    height: 200px;
    border-right:1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    display: inline-block;
    background: #fff;
    float:left;
}
.in img{
    width: 100px;
    height: 201px;
}
.shaonv-hot img{
    width: 137px;
    height: 201px;
    float: left;
    border-bottom: 1px solid #e1e1e1;
}
.box-yufuxie{
    width: 200px;
    height: 156px;
    border: 1px solid #e1e1e1;
    float: left;
    background: #fff;
}
.chaoliu{
    background-image: url(images/TB1WeVtMFXXXXbPXVXXLac8JFXX-360-280.png_180x180.jpg);
    width: 180px;
    height: 140px;
    display: inline-block;
    margin: 10px 0 0 10px;
    text-decoration: none;   
}
.chaoliu-div1{
    color: #fff;
    background:rgba(231,63,117,50);
    padding:7px;
    float: left;
    margin-top: 112px;
}
.chaoliu-div2{
    color: #fff;
    background:rgba(209,210,214,50);
    padding:7px 23px;
    float: left;
    margin-top: 112px;
}
.yuanqi{
    width: 137px;
    height: 78px;
    border-bottom: 1px solid #e1e1e1;
    float: left;
    background: #fff;
}
.shenqi{
    width: 60px;
    height: 40px;
    padding:20px 3px;
    text-align: center;
    float: left;
}
.shenqi-div1{
    font-size:13px;
    font-weight: bold;
    padding: 4px 0;   
}
.yuanqi img{
    width: 55px;
    height: 65px;
    float: left;
    margin: 7px 0 0 10px;
}
.nan{
    width: 137px;
    height: 78px;
    float: left;
    background: #fff;
}
.nan img{
    width: 55px;
    height: 66px;
    float: left;
    margin: 7px 0 0 10px;
}
.container-2{
    width: 440px;
    height: 360px;
    border: 1px solid #fde03e;
    float: right;
}

.container2{
    width: 100px;
    height: 360px;
    float: left;
}

.container-2-top{
    width:100px;
    height: 260px;
    background: #ffa401;
    color: #fff;
}
.container-2-top a{
    display: inline-block;
    padding: 3px 9px 2px 9px;
    background: #f9b432;
    margin: 2px 0 0 0;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}
.container-2-top a:hover{
    color: #ffa401;
    background: #fff;
}
.box-nr{
    float: left;
}
.ping{
    width: 100px;
    height: 200px;
    border-right:1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    display: inline-block;
    background: #fff;
    float:left;
}
.in{
    width: 100px;
    height: 200px;
    border-right:1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    display: inline-block;
    background: #fff;
    float:left;
}
.in img{
    width: 100px;
    height: 201px;
}
.shenghuo-box{
    float: left;
    width: 137px;
    height: 200px;
}
.shenghuo{
    width: 137px;
    height: 100px;
    border-bottom: 1px solid #e1e1e1;
    float: left;
    background: #fff;
}
.faxian{
    width: 60px;
    height: 40px;
    padding:10px 3px;
    text-align: center;
    float: left;
}
.shenqi-div1{
    font-size:13px;
    font-weight: bold;
    padding: 4px 0;   
}
.img00{
    width: 55px;
    height: 65px;
    float: left;
    margin: 7px 0 0 10px;
}
.baojia{
    width: 137px;
    height: 100px;
    float: left;
    background: #fff;
}
.baojia img{
    width: 55px;
    height: 66px;
    float: left;
    margin: 7px 0 0 10px;
}
.box-yufuxie1{
    width: 200px;
    height: 157px;
    border: 1px solid #e1e1e1;
    float: left;
    background: #fff;
}
.huodong{
    background-image: url(images/TB1fjDpHVXXXXXaXFXXXXXXXXXX-728-566.jpg);
    width: 180px;
    height: 140px;
    display: inline-block;
    margin: 10px 0 0 10px;
    text-decoration: none;   
}
.huodong-div1{
    color: #fff;
    background:rgba(255,164,1,0.5);
    padding:7px;
    float: left;
    margin-top: 112px;
}
.huodong-div2{
    color: #fff;
    background:rgba(209,210,214,0.5);
    padding:7px 29px;
    float: left;
    margin-top: 112px;
}
.fang{
    float: left;
    width: 137px;
    height: 157px;
    background: #fff;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.fang-box1{
    width: 135px;
    height: 77px; 
    border-bottom: 1px solid #e1e1e1;
}
.hunfang{
    background-image: url(images/TB1skcJMpXXXXXjXVXXXXXXXXXX-120-60.jpg);
    width: 120px;
    height: 65px;
    margin: 7px 0 0 7px;
    text-decoration: none;
    display: inline-block;
}
.hunfang-div1{
    text-align: center;
    padding: 5px 15px;
    background: #e7e2df;
    color: #000;
    margin-top: 41px;
}
.fang-box2{
    width: 135px;
     
}
.pingfang{
    width: 120px;
    height: 65px;
    background-image: url(images/TB1XJUHMpXXXXXMXFXXXXXXXXXX-120-60.jpg_120x120.jpg);
    margin: 7px 0 0 7px;
    display:inline-block;
    text-decoration: none;
}
.container-1-top.two{
    background: #f2504e;
}
.container-1-top.two a{
    display: inline-block;
    padding: 3px 9px 2px 9px;
    background: #f57574;
    margin: 2px 0 0 0;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}
.container-1-top.two a:hover{
    color: #f2504e;
    background: #fff;
}
.banner img{
    width: 880px;
    height: 70px;
    margin: 10px 5px;
}
.content-submenu{
    width: 220px;
    height: 260px;
    float: left;
    border-right: 2px solid #e8e8e8;
    background: #fff;
    margin: 10px 0 0 0;
}
.ifashion{
    width: 220px;
    height: 40px;
    border-bottom: 1px solid #efefef;
}
.ifashion-a1{
    text-decoration:none;
}
.ifashion-a1 img{
    width: 87px;
    height: 18px;
    vertical-align: middle;
    padding: 10px 0 0 55px;
}
.ifashion-a2 img{
    width: 21px;
    height: 21px;
    vertical-align: middle;
    padding: 10px 0 0 5px;
}
.ifashion-left{
    width: 110px;
    height: 220px;
    border-right: 1px solid #efefef;
    float: left;
}
.ifashion-left a img{
    width: 90px;
    height: 201px;
    padding: 10px;
}
.ifashion-right{
    width: 109px;
    height: 220px;
    float: left;
}
.keai{
    width: 109px;
    height: 110px;
    border-bottom: 1px solid #efefef;
}
.keai a{
    display: inline-block;
    width: 90px;
    height: 90px;
    background-image: url(images/TB1j9QaMXXXXXXEapXXuAZJYXXX-180-180.png);
    margin: 10px;
    text-align: center;
    text-decoration: none;
}
.keai a div{
    color: #000;
    padding: 3px 20px;
    background:rgba(239,215,211,0.5) ;
    margin-top: 71px;
}
.xueyuan{
    width: 100px;
    height: 100px;
}
.xueyuan a{
    display: inline-block;
    width: 90px;
    height: 90px;
    background-image: url(images/taobao_19.jpg);
    margin: 10px;
    text-align: center;
    text-decoration: none;
}
.xueyuan a div{
    color: #000;
    padding: 3px 20px;
    background:rgba(239,215,211,0.7) ;
    margin-top: 71px;
}
.content-submenu:hover{
    border: 2px solid #d24c64;
}
.ifashion-left.one{
    float: left;
}
.lianyiqun{
    width: 110px;
    height: 110px;
    border-bottom: 1px solid #efefef;
}
.lianyiqun a{
    width: 81px;
    height: 92px;
    display: inline-block;
    background-image: url(images/TB18fLlLVXXXXX1XFXXXXXXXXXX-90-90.png);
    margin: 10px 10px;
     text-decoration: none;
}
.lianyiqun a div{
    color: #000;
   
    background: rgba(255,255,255,0.7);
    margin-top: 80px;
    padding: 3px 10px;
}
.pingdixie{
    width: 110px;
    height: 110px;
}
.pingdixie a{
    display:inline-block;
    width: 81px;
    height: 92px;
    background-image: url(images/TB1q66vLVXXXXbOXXXXXXXXXXXX-90-90.png);
    margin: 10px 10px;
    text-decoration: none;
}
.pingdixie a div{
    margin-top: 75px;
    padding: 3px 10px;
    background: rgba(250,250,250,0.7);
    color: #000;
}
.ifashion-right one{
    float: left;
}
.danjian{
    width: 110px;
    height: 110px;
    border-bottom: 1px solid #efefef;
}
.danjian a{
    width: 81px;
    height: 92px;
    display: inline-block;
    background-image: url(images/TB10LzrLVXXXXX1XpXXXXXXXXXX-90-90.png);
    margin: 10px 10px;
     text-decoration: none;
}
.danjian a div{
    color: #000;
    background: rgba(255,255,255,0.7);
    margin-top: 80px;
    padding: 3px 4px;
}
.shizhuang{
    width: 110px;
    height: 110px;
}
.shizhuang a{
    display:inline-block;
    width: 85px;
    height: 92px;
    background-image: url(images/TB1mlviLVXXXXbrXFXXXXXXXXXX-90-90.png);
    margin: 8px 10px;
    text-decoration: none;
}
.shizhuang a div{
    margin-top: 75px;
    padding: 3px 0px;
    background: rgba(250,250,250,0.7);
    color: #000;
    font-family: "-webkit-pictograph";
}
.content-submenu.shenghuo{
    width: 220px;
    height: 260px;
    border-right: 2px solid #efefef;
    background: #fff;
}
.tab{
    width: 220px;
    height: 40px;
    border-bottom: 1px solid #efefef;
    background: #fff;
}
.tab-a1{
    text-decoration:none;
}
.tab-a1-logo{
    width: 87px;
    height: 20px;
    vertical-align: middle;
    padding: 10px 0 0 55px;
}
.tab-a2-erweima{
    width: 21px;
    height: 21px;
    vertical-align: middle;
    padding: 10px 0 0 5px;
}
.tab-top{
    width: 220px;
    height: 160px;
    border-bottom: 1px solid #efefef;
}
.column{
    width: 110px;
    height: 160px;
    float: left;
}
.column a{
    text-decoration: none;
    color: #000;
}
.bg{
    width: 90px;
    height: 90px;
    margin: 10px;
}
.bg2{
    width: 90px;
    height: 90px;
    margin: 10px;
}
.bg-text{
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 25px;
}
.bg-text2{
    line-height: 20px;
    padding: 0 13px;
}
.bg2-text{
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 15px;
}
.bg2-text2{
    line-height: 20px;
    padding: 0 13px;
}
.tab-bottom{
    padding: 10px 0 0 0;
}
.tab-bottom a{
    text-decoration: none;
    padding:0 10px;;
    line-height: 20px;
}
.content-submenu{
    width: 220px;
    height: 260px;
    float: left;
    border-right: 2px solid #e8e8e8;
    background: #fff;
    margin: 10px 0 0 0;
}
.tab1{
    width: 220px;
    height: 40px;
    border-bottom: 1px solid #efefef;
}
.tab1-a1{
    text-decoration:none;
}
.tab1-img1{
    width: 87px;
    height: 18px;
    vertical-align: middle;
    padding: 10px 0 0 55px;
}
.tab1-img2{
    width: 21px;
    height: 21px;
    vertical-align: middle;
    padding: 10px 0 0 5px;
}
.column1{
    width: 109px;
    height: 110px;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    float: left;
}


.bg-a1{
    display: inline-block;
    width: 90px;
    height: 90px;
    background-image: url(images/TB1R4ANHVXXXXazXXXXXXXXXXXX-120-120.jpg_120x120.jpg);
    margin: 10px;
    text-align: center;
    text-decoration: none;
    
}
.bg-a1 div{
    color: #000;
    padding: 3px 4px;
    background:rgba(250,250,250,0.5) ;
    margin-top: 71px;
}

.bg-a2{
    display: inline-block;
    width: 90px;
    height: 90px;
    background-image: url(images/tb4_99.png);
    margin: 10px;
    text-align: center;
    text-decoration: none;
   
}
.bg-a2 div{
    color: #000;
    padding: 3px 4px;
    background:rgba(250,250,250,0.7) ;
    margin-top: 71px;
}
.bg-a3{
    display: inline-block;
    width: 90px;
    height: 90px;
    background-image: url(images/TB1MpwOHVXXXXX0XpXXXXXXXXXX-120-60.jpg_120x120.jpg);
    margin: 10px;
    text-align: center;
    text-decoration: none;
    
}
.bg-a3 div{
    color: #000;
    padding: 3px 4px;
    background:rgba(250,250,250,0.7) ;
    margin-top: 71px;
}
.bg-a4{
    display: inline-block;
    width: 90px;
    height: 90px;
    background-image: url(images/taobao_19.jpg);
    margin: 10px;
    text-align: center;
    text-decoration: none;    
}
.bg-a4 div{
    color: #000;
    padding: 3px 4px;
    background:rgba(250,250,250,0.7) ;
    margin-top: 71px;
}
.tab-bottom.two a{
    padding: 0 7px;
}
.tab-a1-logo a{
    padding: 10px 0 0 70px;
}
.bg-a1.two{
    background-image: url(images/TB138jALVXXXXapXXXXXXXXXXXX-90-90.jpg_120x120.jpg);
}
.bg-a2.two{
    background-image: url(images/TB11EjgLVXXXXcaXFXXXXXXXXXX-90-90.jpg_120x120.jpg);
}
.bg-a3.two{
    background-image: url(images/TB1YHdzJXXXXXauXXXXrywt4VXX-120-120.png_120x120.jpg);
}
.bg-a4.two{
    background-image: url(images/tb4_105.png);
}
.bg-a1.three{
    background-image: url(images/TB1IQELMpXXXXcKXVXXXXXXXXXX-340-340.jpg_120x120.jpg);
}
.bg-a2.three{
    background-image: url(images/TB2elJAnFXXXXcKXXXXXXXXXXXX-24799794.jpg);
}
.bg-a3.three{
    background-image: url(images/TB1zxEYJpXXXXa.XXXXXXXXXXXX_!!0-item_pic.jpg_250x250.jpg);
}
.bg-a4.three{
    background-image: url(images/TB137TmLVXXXXX5XVXXXXXXXXXX-90-90.jpg_120x120.jpg);
}
.tab-bottom.three a{
    padding: 0 10px;
}
.tab-bottom.four a{
    padding: 0 5px;
}
.menu-column{
    width: 280px;
    height: 138px;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    background: #fff;
    float: left;
}
.column-box-top{
    height: 40px;
}
.img1-a1{
    text-decoration: none;
}
.img1-icon1{
    width: 65px;
    height: 20px;
    padding: 10px 3px 0 15px;
}
.img1-icon2{
    width: 19px;
    height: 19px;
    font-size: 15px;
}
.column-box-center{
    float: left;
    margin: 10px 0 0 15px;
}
.center-text1{
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
}
.center-text2{
    font-size: 15px;
}
.box-bottom{
    color: #ff470e;
    border: 1px solid #fa5d32;
    border-radius: 10px;
    margin: 10px 0 0 0;
    font-size: 11px;
    text-align: center;
    width: 77px;
    height: 21px;
    text-decoration: none;
    display: inline-block;
    line-height: 21px;
}
.img2-right{
    width: 80px;
    height: 85px;
    padding: 5px 0 0 80px;
    border: 0px;
}
.menu-column:hover{
    border: 1px solid #fa5d32; 
}
.menu-column.one{
    width: 201px;
}
.img2-right.one{
    padding: 5px 0 0 20px;
}
.img1-icon1.qingcang{
    width: 50px;
}
.img2-right.taojinbi{
    padding: 5px 0 0 50px;
    border: 0px;
}
.wochangguangde-right{
    width: 290px;
    float: left;
    margin-left: 10px;
}
.nav{
    width: 290px;
    height: 110px;
    background: #fff;
}
.title{
    width: 65px;
    height:20px;
    padding: 10px ;
    float: left;
}
.title-more{
    float: left;
    width: 60px;
    height: 22px;
    line-height: 22px;
    padding: 10px 0 0 145px;
    text-decoration: none;
    color: #000;
}
.title-more:hover{
    color:#c12d21;
}
.music{
    width: 61px;
    height: 61px;
    float: left;
    padding: 0px 10px;
}
.toutiao{
    float: left;
    width: 196px;
    height: 61px;
}
.toutiao-text1{
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    overflow: hidden;
    width: 196px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.toutiao-text1:hover{
    color: #c12d21;
}
.toutiao-text2{
    font-size: 12px;
    color: #000;
    text-decoration: none;
    overflow: hidden;
}
.subnav{
    width: 290px;
    height: 1272px;
    background: #fff;
    margin-top: 10px;
}
.subnav-logo{
    width: 210px;
    height: 22px;
    padding: 15px 10px;
}
.list{
    width: 290px;
    height:105px;
    margin-bottom: 14px;
}
.list-img{
    width: 100px;
    height: 100px;
    float: left;
    padding:0px 10px;
}
.list-text{
    width: 165px;
    float: left;
    height: 100px;
}
.list-text1{
    font-size: 14px;
    font-weight:bold;
    line-height: 22px;
    color: #000;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    height: 22px;
}
.list-text2{
    font-size: 12px;
    line-height: 20px;
    color: #000;
    text-decoration: none;
    overflow: hidden;
    display: block;
    height: 40px;
}
.list-text3{
    font-size: 13px;
    color: #6ca1e7;
    text-decoration: none;
    font-weight: bold;
}
.huanyizu{
    text-decoration: none;
    color: #000;
    font-size:15px;
}
.huanyizu img{
    width: 16px;
    height: 16px;
    padding-left: 85px;
}
.subnav1{
    width: 290px;
    height: 1068px;
    background: #fff;
    margin-top: 10px;
}
.subnav1-logo{
    width: 200px;
    height: 22px;
    padding: 20px 0 0 10px;
}
.subnav1-list1{
    width: 290px;
    height: 234px;
    border-bottom: 2px solid #f5f5f5;
    padding-top: 10px;
}
.list1-text1{
    font-size: 14px;
    font-weight:bold;
    line-height: 24px;
    color: #000;
    text-decoration: none;
    padding-left: 10px;
}
.list1-text1:hover{
    color: #f00;
}
.list1-text2{
    font-size: 12px;
    color: #000;
    text-decoration: none;
    padding-left: 10px;
}
.list1-img-left{
    float: left;
    padding: 5px 0 0 10px;
}
.list1-img-left a{
    text-decoration: none;
    width: 89px;
    height: 89px;
    display: inline-block;
}
.list1-img-left img{
    width: 89px;
    height: 88px;
}
.list1-img-right{
    width: 180px;
    height: 180px;
    display: inline-block;
    padding: 5px 0 0 1px;
}
.list1-img-right img{
    float: left;
    width: 180px;
    height: 180px;
}
.look{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 35px;
}
.look:hover{
    color: #f00;
}
.look img{
    width: 25px;
    height: 15px;
    padding-left: 85px;
}
.subnav-tody{
    font-size: 14px;
    font-weight: bold;
    padding: 15px 10px;
}
.tcl{
    width: 290px;
    height: 240px;
    display: block;
}
.tcl img{
    width: 290px;
    height: 240px;
}
#main-two{
    width: 1190px;
    background: #fff;
    color: #000;
    margin: 0 auto;
}
.center-nav{
    text-align: center;
    width: 1190px;
    line-height: 50px;
}
.center-nav img{
    vertical-align: middle;
}
.hr{
    width: 62px;
    height: 1px;
    display: inline-block;
    background: #e6e6e6;
    margin: 3px 0;
}
.column-list{
    width: 1190px;
    margin: 0px;
    padding: 0px 0 0 10px;;
}
.column-list li{
    list-style: none;
    float: left;
}
.column-list li a{
    color: #000;
    text-decoration: none;
    padding: 0 9px;
    display: inline-block;
    border-right: 1px solid #a1a1a1;
}
.column-list li a:hover{
    color: #f00;
}
.main-two-box{
    position: relative;
    left: 0px;
    float: left
}
.main-two-box-left{
    width: 231px;
    height: 398px;
    background: #fff;
    float: left;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
    position: relative;
    left: 0px;
}
.main-two-box-left img{
    width: 214px;
    height: 214px;
    padding: 10px 0 0 10px;

}
.renminbi{
    color: #f45619;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    font-family: initial
}
.baoyou{
    padding: 0 3px;
    background: #90b742;
    display: inline-block;
    color: #fff;
    font-size: 12px; 
    margin-left: 10px;
}
.jianshu{
    color: #989898;
}
.jianjie{
    color: #696969;
    overflow: hidden;
    margin: 20px 0 0 10px;
    font-size: 13px;
    line-height: 20px;
}
.pingjia{
    color: #989898;
    display: inline-block;
    margin: 45px 0 0 10px;
    font-size: 13px;
}
.shoucang{
    color: #989898;
    display: inline-block;
}
.main-two-box-left.one{
    border: 1px solid #f00;
    margin-top:10px;
    position: absolute;
    left: 0px;
    display: none;
}
.red-box{
    width: 231px;
    height: 227px;
    background: rgba(255,73,95,0.1);
}
.red-box a{
    display: inline-block;
    padding: 5px 30px;
    color: #f00;
    background: #fff;
    margin: 165px 0 0 65px;
    border-radius: 10px;
    text-decoration: none;
}
.main-two-box-left:hover+.main-two-box-left.one{
    display: block;
}
.main-two-box-right{
    float: left;
    margin-top:10px;
}
.top-box{
    width: 161px;
    height: 198px;
    border: 1px solid #e8e8e8;
}
.top-box img{
    width: 140px;
    height: 140px;
    padding: 10px 0 0 10px;
}
.renminbi.two{
    font-size: 13px;
    line-height: 25px;
}
.xinpin{
    padding: 0 3px;
    background: #f00;
    display: inline-block;
    color: #fff;
    font-size: 12px; 
    margin-left: 10px;
}
.main-two-box-bottom{
    width: 394px;
    height: 154px;
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}
.main-two-box-bottom img{
    width: 376px;
    height: 130px;
    padding: 10px 0 0 10px;
}
#main-three{
    width: 1190px;
    background: #fff;
    margin: 10px auto;
}
.content-align{
    height: 302px;
    padding:12px 0px 12px 20px;
}
.content-single{
    display: inline-block;
    text-decoration:none;
    width: 224px;
    height: 302px;
    background: #f5f5f5;
    margin-right: 5px;
}
.content-single img{
    width: 224px;
    height: 220px;
}
.content-single div{
    font-size: 13px;
    color: #727272;
    line-height: 20px;
    width: 196px;
    margin-left: 10px;
}
.single-renminbi{
    color: #ff4400;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0 0 10px;
    display: inline-block;
}
.single-xiaoliang{
    color: #ff4400;
    font-size: 15px;
    padding: 15px 0 0 75px;
}
.center-nav.end {
    text-align: center;
    width: 1190px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #c7c7d1;
}
.hr.left.end{
    margin:5px 0;
}
#footer-one{
    width: 1190px;
    margin: 0 auto;
}
.tag{
    width: 215px;
    height: 100px;
    float: left;
    padding: 45px 60px 30px 20px;
}
.tagtitle img{
    width: 37px;
    height: 37px;
    vertical-align: middle;
}
.tagtitle span{
    color: #000;
    font-size:15px;
    font-weight: bold;
    padding: 0 10px;
}
.tagContent{
    width: 210px;
    height: 45px;
    line-height: 20px;
    padding-top: 10px;
}
.tagContent a{
    color: #909090;
    text-decoration: none;
    padding-right: 5px;
    font-size: 11px;
}
.tagContent a:hover{
    color: #f00;
}
.hr1{
    width: 1190px;
    margin: 0 auto;
    height: 1px;
    background: #ff4200;
}
#partner{
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
    width: 1190px;
}
#partner li{
    height: 20px;
    list-style: none;
    float: left;
}
.foot-a{
    text-decoration: none;
    color: #686868;
    padding: 0px 10px;
    border-right:1px solid #e1e1e1;
    display: inline-block;
    line-height: 10px
}
.foot-a.one{
    padding-left: 2px;   
}
.foot-a.two{
    border:0px;    
}
.hr2{
    width: 1190px;
    margin: 10px auto;
    height: 1px;
    background: #eeeeee;
}
.statys{
    margin: 0 auto;
    padding: 0px;
    width: 1190px;
}
.statys li{
    list-style: none;
    float: left;
}
.statys-conter{
    text-decoration: none;
    color: #686868;
    padding-right: 10px;
}
.statys-conter.one{
    text-decoration: none;
    color: #686868;
    padding-right: 10px;
    border-right:1px solid #e1e1e1;
    display: inline-block;
    line-height: 10px
}
.copy{
    padding-left: 30px;
    color: #9a9a9a;
    font-size: 15px;
}
.copyright{
    color: #9a9a9a;
}
#footer{
    width: 1190px;
    margin: 0 auto;
}
.permit{
    color: #9a9a9a;
    line-height: 20px;
}
.permit-conter{
    color: #686868;
}
.i{
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #e1e1e1;
    margin: 0 5px;
}
#footer a img{
    height: 34px;
    padding: 10px 20px 20px 0px;;
}
#sidebar{
    width: 50px;
    background: #fff;
    position: absolute;
    left: 1320px;
    top: 8000px;
}
.msg{
    display: block;
    padding: 10px 5px ;
    border-bottom: 1px solid #e1e1e1;
    margin: 0 3px;
    text-decoration: none;
    color: #000;
    
}
.msg:hover{
    color: #fff;
    font-weight: bold;
    background: #f00;
}