body{
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    font-family: "宋体";
    margin: 0px;
    font-size: 12px;
}
#header{
    background: #f5f5f5;
    width: 100%;
    height: 35px;
    margin: 0px;
}
.headerbox{
    width: 1190px;
    height: 35px;
    margin: 0 auto;

}
.zhuce{
    float: left;
    padding: 0px;
    margin: 0px;
}
#header ul li{
    list-style: none;
    float: left;
}
.boxa{
    text-decoration: none;
    line-height: 35px;
    padding: 0 10px;
    color: #676767;
}
.qin{
    color: #f00;
}
.mytb{
    float: right;
    margin: 0px;
}
.clear{
    clear: both;
}
.boxa.box1{
    border-left: 1px solid #e0e0e0;
}
#logo{
    width: 100%;
    height: 130px;
    background: #fff;
    margin: 0px;
    padding: 0px;
}
.logo.boxb{
    width: 1190px;
    margin: 0 auto;
}
.logo-img{
    padding: 39px 0 0 20px;
    float: left;
}
.search{
    width: 700px;
    height: 90px;
    float: left;
    margin: 30px 0 0 100px;
}
.search-top{
    height: 25px;
    line-height: 25px;
    width: 200px;
}
.search-ul{
    padding: 0px;
    margin: 0x;
    height: 25px;
}
.search-ul li{
    list-style: none;
    float: left;
}
.a{
    color: #f00;
    padding:7px 13px;
    text-decoration: none;
}
.a.baobei{
    color: #fff;
    font-weight: bold;
    background: #ff4200;
}
.a:hover{
    color: #fff;
    font-weight: bold;
    background: #ff4200;
}
.search-search{
    width: 625px;
    height: 34px;
    border: 3px solid #ff4200;
    float: left;
    line-height: 34px;
}
.search-search-img1{
    padding: 0 5px; 
}
.search-search-img2{
    padding-right:12px;
}
.input-text{
    width: 434px;
    outline: medium;
    border: 0;
    height: 31px;
    padding: 0px;
}
.input-submit{
    width: 120px;
    height: 34px;
    outline: medium;
    border: 0px;
    background: #ff4200;
    color: #fff;
    font-size: 17px;
    padding: 0px;

}
.search-gaoji{
    float: left;
    text-decoration: none;
    width: 38px;
    height: 40px;
    font-size: 13px;
    padding: 2px 7px;   
    line-height: 18px;
    color: #676767;
}
.search-bottom{
    width: 630px;
}
.search-bottom-a{
    color: #676767;
    padding-right: 3px;
    text-decoration: none;
}
.search-bottom-a.t{
    color: #ff4200;
}
.search-bottom-a.more{
    float: right;
}
.erweima{
    float: right;
    margin-top: 5px;
    border: 1px solid #f1f1f1;
    padding: 0 10px 13px 10px;
    text-align: center;
}
.erweima a{   
    color: #ff4200;
    text-decoration: none;
}
.erweima a span{
    line-height: 30px;
}
.erweima-img{
    width: 80px;
    height: 80px;
    background-image: url(images/tb22_03.png);
}
#zhuti{
    width: 100%;
    height: 35px;
    background: #fff;
    overflow: hidden;
}
#zhuti ul{
    padding: 0px;
    width: 1190px;
    margin: 0 auto;
}
#zhuti ul li{
    list-style: none;
    float: left;
    line-height: 35px;
}
.zhutishichang{
    background: #ff6537;
    width: 190px;
    height: 35px;
}
.zhutishichang-text{
    color: #fffdfb;
    font-size: 15px;
    font-weight: bold;
    padding: 0 90px 0 10px;
}
.a-red{
    color: #ff6537;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding-right:26px;
}
.a-black{
    color: #3a3a3a;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding-right:16px;
}
.a-red.tianmao{
    padding-left: 20px;
}
.a-black.tao{
    border-left: 1px solid #f1f1f1;
    padding-left: 13px;
}
.a-black.ali{
    border-left: 1px solid #f1f1f1;
    padding-left: 13px;
}
#bodyer-one{
    width: 1190px;
    margin: 0 auto;
}
.bodyer-one-left{
    float: left;
    width: 190px;
    position: relative;
}
.border-one-box-left{
    float: left;
}
.bodyer-one-left-ul{
    padding: 0px;
    width: 190px;
    margin: 0px;
    height: 480px;
}
.bodyer-one-left-ul li{
    width: 190px;
    line-height: 35px;
    background: #ff6537;
    list-style: none;
    height: 30px;
}
.bodyer-one-left-ul li a{
    list-style: none;
    color: #fffdfb;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
}
.left-img{
    float: left;
    margin: 10px 5px 0px 10px;

}
.right-img{
    vertical-align: middle;
    margin:13px 13px 0 0;
    float: right;
}
.a-span{    
    width: 130px;
    float: left;
    overflow: hidden;
    height: 35px;
}
.bodyer-one-left-ul.two{
    position: absolute;
    bottom: 42px;
    display: none;
}
.bodyer-one-center{
    width: 700px;
    height: 525px;
    float: left;
}
.center-left{
    float: left;
    width: 520px;
    height: 510px;
    margin: 10px 10px 0px 10px;
}
.tianmao-biguang{
    width:520px;
    border-bottom: 2px solid #c12d21;
    height: 17px;
    margin-top: 8px;
}
.tianmao-gif{
    float: left;
    border-bottom: 2px solid #000;
    height: 16px;
}  
.tianmao-left{
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid #000;
    height: 17px;
}
.tianmao-center{
    font-size: 12px;
    color: #606060;
    display: inline-block;
    height: 17px;
}
.tianmao-right{
    color: #c12d21;
    display: inline-block;
    padding-left: 240px;
    height: 17px;
}
.nanzhuang a{
    width: 172px;
    height: 99px;
    display: block;
    float: left;
}
.nanzhuang a img{
    width: 173px;
    height: 99px;
    
}
.fenge1{
    border: 1px solid #ebebeb;
    border-top: 0px;
}
.fenge2{
    border: 1px solid #ebebeb;
    border-left: 0px;
    border-bottom: 0px;
}
.fenge3{
    border: 1px solid #ebebeb;
    border-right: 0px;
    border-bottom: 0px;
}
.center-right{
    margin-top: 10px;

}
.today{
    line-height: 30px;
    color: #a1a1a1;
}
.border-one-bottom{
    width: 890px;
    height: 78px;
    background: #fff;
}
.border-one-bottom div{
    float: left;
    width: 176px;
}
.border-one-bottom-a-img1{
    width: 65px;
    height:65px;
    border: 1px solid #a1a1a1;;  
    border-radius:50px;  
    float: left;  
    text-align: center;   
    margin: 6px 7px 0 15px;
}
.border-one-bottom-a-img1 img{
    padding-top: 5px;
}
.border-one-bottom a{
    text-decoration: none;
    display: block;
}
.meixiekong{
    font-size: 17px;
    color: #9c6c5e;
    font-weight: bold;
    padding-top: 10px;
    list-style: none;
}
.woweixiekuang{
    color: #9c6c5e;
    padding-top: 5px;
}
.renqi{
    color: #9a9a9a;
    vertical-align: middle;
    padding-top: 5px;
    line-height: 20px;
}
.border-one-bottom-a-img2{
    vertical-align: middle;
}
.youxi{
    font-size: 17px;
    color: #70bb83;
    font-weight: bold;
    padding-top: 10px;
    list-style: none;
}
.pk{
    color: #70bb83;
    padding-top: 5px;
}
.gaofushuai{
    font-size: 17px;
    color: #7b9dff;
    font-weight: bold;
    padding-top: 10px;
    list-style: none;
}
.nanshen{
    color: #7b9dff;
    padding-top: 5px;
}
.fugunvlang{
    font-size: 17px;
    color: #7866cc;
    font-weight: bold;
    padding-top: 10px;
    list-style: none;
}
.fuguyin{
    color: #7866cc;
    padding-top: 5px;
}
.shoubiaokong{
    font-size: 17px;
    color: #d24c64;
    font-weight: bold;
    padding-top: 10px;
    list-style: none;
}
.maibiao{
    color: #d24c64;
    padding-top: 5px;
}
.border-one-box-right{
    width: 290px;
    height: 593px;
    background: #fff;
    float: left;
    margin: 10px 0 0 10px;
}
.taojinbi{
    width: 290px;
    background-image: url(images/bg_01.jpg);
    height: 160px;
    border-bottom: 2px solid #f1f1f1;
}
.taojinbi-icon{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 15px 0px 0px 115px;
}
.hi{
    margin:0 0 5px 125px;
}
.taojinbi-text a{
    color: #f45d16;
    text-decoration: none;
    vertical-align: middle;
}
.taojinbi-text a img{
    vertical-align: middle;
    margin-left: 50px;
}
.box.denglu{
    width:90px;
    height: 25px;
    background: #ff4400;
    line-height: 25px;
    float: left;
    margin: 3px 0 0 17px;
    text-align: center;
}
.box.zhuce{
    width:75px;
    height: 25px;
    background: #ff4400;
    line-height: 25px;
    float: left;
    text-align: center;
    margin: 3px 10px 0 10px;
}
.box.kaidian{
    width:75px;
    height: 25px;
    background: #ff4400;
    line-height: 25px;
    float: left;
    text-align: center;
    margin-top: 3px;
}
.box a{
    text-decoration: none;
    font-size: 14px;
    color: #fffffa;
    font-weight: bold;
}
.gonggaolan{
    width: 290px;
    height: 106px;
    border-bottom: 2px solid #f1f1f1;
}
.gonggaolan-ul{
    margin: 0px;
    padding: 17px 0 0 15px;
}
.gonggaolan-ul li{
    list-style: none;
    float: left;
    margin: 0 7px;
}
.gonggao-li{
    margin-left: 3px;
}
.gonggaolan-ul li a{
    text-decoration: none;
    padding:5px 7px;
    color: #000;
    
}
.gonggao-li a{
    font-weight: bold;
}
.gonggaolan-ul li a:hover{
    border-bottom: 2px solid #ff4200;
    font-weight: bold;
}
.mayun{
    color: #ff4200;
    margin: 17px 0 0 20px;
    text-decoration:none;
    display: block;
}
.lianheguo{
    color: #000;
    padding: 15px 0 0 20px;
    text-decoration:none;
    display: inline-block;
}
.papi{
    color: #000;
    padding: 15px 0 0 20px;
    text-decoration:none;
    display: inline-block;
}
.fuwu{
    width: 290px;
    height: 194px;
    background: #fff;
    border-bottom: 2px solid #f1f1f1;
}
.chonghuafei{
    width: 72px;
    height: 64px;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    text-align: center;
    float: left;
}
.chonghuafei img{
    width: 22px;
    height: 24px;
    margin: 12px 0 4px 0;
}
.baoxian{
    width: 71px;
    height: 64px;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
    float: left;
}
.baoxian img{
    width: 22px;
    height: 24px;
    margin: 12px 0 4px 0;
}
.licai{
    width: 71px;
    height: 64px;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
    float: left;
}
.licai img{
    width: 22px;
    height: 24px;
    margin: 12px 0 4px 0;
}
.huochepiao{
    width: 71px;
    height: 64px;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
    float: left;
}
.huochepiao img{
    width: 22px;
    height: 24px;
    margin: 12px 0 4px 0;
}
.aliapp{
    margin: 12px 0 0 20px;
}
.ali-app{
    font-size: 14px;
    font-weight: bold;
}
.wear{
    padding-left: 170px;
}
.ali-icon{
    margin: 3px 0 0 4px;
}
.ali-icon a{
    text-decoration: none;
}
.ali-icon a img{
    width: 33px;
    height: 33px;
    padding: 4px 7px;
}
#wochangguangde{
    width: 1190px;
    height:2710px;
    margin: 10px auto;
    background: #3a3a3a;
}
.wochangguangde-left{
    width: 890px;
    height: 2710px;
    float: left;
}
.wochangguangde-right{
    width: 290px;
    height: 2710px;
    float: left;
    background: #c12d21;
    margin: 10px 0 0 10px;
}
.changguangde{
    width: 222px;
    height: 30px;
    line-height: 30px;
}
.fengexian-left{
    width: 55px;
    border-top: 1px solid #e4e4e4;
    margin: 15px 0 0 50px;
    float: left;
}
.fengexian-right{
    width: 55px;
    border-top: 1px solid #e4e4e4;
    margin: 15px 0 0 100px;
}